<header>
  <img src="wagnerMorais.jpg"
  alt="Wagner Morais - Foto perfil"
  width="130px"
  height="130px"
  loading="eager"
  />

  <h1>Wagner Morais</h1>
</header>

<aside>
  <div class="container" >
    <p>C# | JAVA | AWS CLOUD PRACTITIONER</p>
    <p>São Paulo, SP, Brasil</p>

    <nav>
      <ul>
        <li>
          <a href="CurriculoWagnerMorais.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/wagner-morais-araujo-646375118/"
          target="_blank"
          class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure> 
        <img src="whatsapp.svg"
        alt="ícone para contato do Whatsapp"
        width="22px"
        height="24px"
        />
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5511958823916&text=Ol%C3%A1%20Wagner"
          target="_blank"
          >
        <strong>Envie uma mensagem para:</strong>
        <p>Whatsapp: (11) 95882-3916</p>
        </a>
        </figcaption>
      </figure>

      <figure>
        <img src="mail.svg"
        alt="ícone para contato do e-mail"
        width="22px"
        height="24px"
        />
        <figcaption>
          <a
          href="mailto:wagnermoraiscontato@gmail.com"
          target="_blank"
          >
        <strong>Envie uma e-mail para:</strong>
        <p>wagnermoraiscontato&#64;gmail.com</p>
        </a>
        </figcaption>
      </figure>
    </section>

  </div>
</aside>
